@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    <p>Pick the Stylist</p>
    @Html.DropDownList("StylistId")
    <p>Client Name</p>
    @Html.TextBoxFor(model => model.Description)
    <p>image Link of Client</p>
    @Html.TextBoxFor(model => model.Image)
    <p>Address of Client</p>
    @Html.TextBoxFor(model => model.Address)
 
    <br>
    <br>

    <input type="submit" value="Add new client" class="btn btn-default" />
}
<br>
<Button>@Html.ActionLink("Show all clients", "Index")</Button>