@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    <p>Pick the Stylist</p>
    @Html.DropDownList("StylistId")
    <p>Client Name</p>
    @Html.TextBoxFor(model => model.Description);
    <p>Address of Client</p>
    @Html.DisplayFor(model => model.Address);
     @Html.TextBoxFor(model => model.Address);
     <p>City</p>
     @Html.TextBoxFor(model => model.City);
     <p>State</p>
     @Html.TextBoxFor(model => model.State);
     <p>Email</p>
     @Html.TextBoxFor(model => model.Email);
 
    <br>
    <br>

    <input type="submit" value="Add new client" class="btn btn-default" />
}
<br>
<Button>@Html.ActionLink("Show all clients", "Index")</Button>