@{
  Layout = "_Layout";
}

@using Salon.Models;
@model Salon.Models.Client;
<h2>@Html.DisplayFor(model => model.Description)</h2>
<h3>@Html.DisplayFor(model => model.Address)</h3>

<img src="@Html.DisplayFor(model => model.Image)" height="50%" width="50%"/>


<hr>

<Button>@Html.ActionLink("Back to list", "Index")</Button>
<Button>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</button>
<Button>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</Button>
<Button>@Html.ActionLink("Add new review", "Create","Reviews")</button>