@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)
    
    <p>Type of Stylist</p>
    @Html.DropDownList("StylistId")
    <p>Resturant Name</p>
    @Html.EditorFor(model => model.Description)
    
    <p>Address of Resturant</p>
    @Html.EditorFor(model => model.Address)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input type="submit" value="Save" />
}
<br>
<Button>@Html.ActionLink("Back to list", "Index")</Button>