@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)
      <p>Pick the Stylist</p>
    @Html.DropDownList("StylistId")
    <p>Client Name</p>
    @Html.EditorFor(model => model.Description);
    <p>Address of Client</p>
     @Html.EditorFor(model => model.Address);
     <p>City</p>
     @Html.EditorFor(model => model.City);
     <p>State</p>
     @Html.EditorFor(model => model.State);
     <p>Email</p>
     @Html.EditorFor(model => model.Email);
   
    <input type="submit" value="Save" />
}
<br>
<Button>@Html.ActionLink("Back to list", "Index")</Button>