@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

     <p>Stylist Name</p>
    @Html.EditorFor(model => model.Name)
    <p>Stylist Details</p>
    @Html.EditorFor(model => model.Details)
     <p>Stylist Image URL</p>
    @Html.EditorFor(model => model.Image)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to stylists", "Index")</p>